/* Общие стили для контейнера заказа */
.order-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px
}

.cards-line {
  display: flex;
  justify-content: center;
  /* Центрируем карточки по горизонтали */
  gap: 20px;
  /* Промежуток между карточками */
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  flex-wrap: wrap;
  /* Позволяет переносить карточки на новую строку при необходимости */
}

.dish-card {
  width: 200px;
  /* Ширина карточки */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease;
}

.dish-card:hover {
  transform: translateY(-5px);
  /* Эффект подъема при наведении */
}

.dish-card img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  /* Скругление углов только у верхней части */
}

.dish-card .dish-card-info {
  padding: 10px;
}

.dish-card .dish-card-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.dish-card .dish-card-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.dish-card .remove-dish {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.dish-card .remove-dish:hover {
  background-color: #e74c3c;
}